[Unit]
Description=SmartThings Dashobard Frontend service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/var/dashboard_frontend
ExecStart=/usr/bin/npm run serve

[Install]
WantedBy=multi-user.target